# Auto detect text files and perform LF normalization on checkout and commit
* text=auto eol=lf

# Explicitly declare binary files that should never be modified
*.npz binary
*.pkl binary
*.xlsx binary
